.messages {
    margin: 0; 
    display: flex; 
    justify-content: center;
    background-color: rgba(85, 85, 85, 0.205);
}
.item:hover {
    background-color: rgb(214, 208, 208);
    cursor: pointer;
    user-select: none;
}